<div class="chat-box w-[70vw] h-[60vh] md:h-[60vh] md:w-[30vw]">
  <div class="messages">
    <div
      *ngFor="let msg of messages"
      [class.user]="msg.from === 'user'"
      [class.bot]="msg.from === 'bot'"
      class="bubble"
    >
      {{ msg.text }}
    </div>
  </div>

  <div class="input-area">
    <input
      [(ngModel)]="input"
      class="ia-input"
      placeholder="Write your message..."
      (keyup.enter)="send()"
    />
    <button (click)="send()"><app-app-icon [name]="'keyboard_return'" /></button>
  </div>
</div>
