.button-search {
  background-color: #00ffff;
  transition: 0.3s;
  color: #28292d;
  font-weight: 600;
}

.button-search:hover {
  transform: scale(1.1);
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1em;
  padding-right: 2rem;
  background-color: #28292d;
  color: white;
}
input {
  background-color: #28292d;
}
